html,
body {
    --background-1: #22162B;
    --background-2: #451F55;
    --focus: #724E91;
    --accent-1: #E54F6D;
    --accent-2: #F8C630;
    /* background-color: #f8fafc; */
    /* background: var(--background-1); */
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-1);;
}
