.comment {
    padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
  }
  
  /* .body {
    padding-left: 54px;
    padding-top: var(--mantine-spacing-sm);
    font-size: var(--mantine-font-size-sm);
  } */
   
.body{
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.content {
    & > p:last-child {
        margin-bottom: 0;
    }
}

.loader{
    /* display: block;
    margin: auto; */
    /* position: absolute; 
    top: 50%; 
    left: 50%; */
    align-self: center;
    margin-top: 50px;
}